{% import 'SyliusUiBundle:Macro:headers.html.twig' as headers %}

<div class="ui stackable grid">
    <div class="twelve wide column">
        {{ headers.default('sylius.ui.dashboard'|trans, 'home', '') }}
    </div>
</div>
