{% extends 'PlatformAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }}{{ 'sylius.ui.dashboard'|trans }}{% endblock %}

{% block content %}
{% include '@PlatformAdmin/Dashboard/_header.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column">
        {# TODO #}
    </div>
    <div class="column">
        {# TODO #}
    </div>
</div>
{% endblock %}
